{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Магазин{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'main:product_list' %}">Інтернет-магазин</a></h1>
        
        <nav>
            <ul>
                <li><a href="{% url 'main:product_list' %}">Усі товари</a></li>
                {% for cat in categories %}
                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <!-- Блок авторизації -->
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="btn" href="{% url 'admin:index' %}">Адмінка</a>
                {% endif %}
                <a class="btn" href="{% url 'accounts:profile' %}">Профіль</a>
                <a class="btn" href="{% url 'accounts:logout' %}">Вийти</a>
            {% else %}
                <a class="btn" href="{% url 'accounts:login' %}">Вхід</a>
                <a class="btn" href="{% url 'accounts:register' %}">Реєстрація</a>
            {% endif %}
        </div>
    </header>
      <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Магазин. Усі права захищені.</p>
    </footer>
</body>
</html>